name: Flutter CI

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.2.3'

    - name: Install dependencies
      run: flutter pub get
      working-directory: dracula

    - name: Run tests
      run: flutter test
      working-directory: dracula

    - name: Run linting
      run: flutter analyze
      working-directory: dracula